.form{
	margin-left: 430px;
	margin-top: 30px;
}

.form-group {
	background: white;
	margin-top: 5px;
}

.estilo_sorteo {
	font-size: 35px;
	line-height: 28px;
}

.estilo_periodico {
	font-size: 25px;
}

.hr-1 {
   border-top: 2px solid gray; 
   border-bottom: 2px solid gray; 
   border-left:none; 
   border-right:none; 
   height: 6px; 
   margin-top: 2%;
   width: 80%; 
 }

 .hr-2 {
   border-top: 2px solid gray; 
   border-bottom: 2px solid gray; 
   border-left:none; 
   border-right:none; 
   height: 6px; 
   margin-top: 29%;
   width: 100%; 
 }

 hr.style3 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.presentacion {
	margin-top: 30px;
}
.presentacion h2 {
	text-align: center;
	color:#940114;
	letter-spacing: 3px;
	margin-top: 0%;
	font-size: 30px;
	color: #5d5d5d;
}

.presentation p {
	text-align: center;
    font-size: 18px;
    font-style: italic;
}

p {
	text-align: center;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
     margin: 0 0 10px;
}

.violet {
	color:#9d426b;
}

.what-we-do {
	margin-top: 50px;
}

.what-we-do .service{
	padding-bottom: 23px;
	background: #f8f8f8;
	border-bottom: 2px solid #9d4269;
}

.what-we-do .service .icon-awesome {
    margin-top: 15px;
    font-size: 50px;
    line-height: 50px;
    color: #5d5d5d;
}

.what-we-do .service p {
    padding-bottom: 10px;
    line-height: 24px;
     font-size: 14px;
}

.what-we-do .service h1 {
	text-align: center;
    margin-top: 5px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.what-we-do .service a {
    padding: 5px 22px;
    background: #9d426b;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
}

.span3{
	width: 260px;
	 float: left;
    min-height: 1px;
    margin-left: 20px;
}

.row{
	line-height: 0;
	margin-left:-30px;
}

.portafolio-title h3 {
	text-align: center;
	color:#940114;
	letter-spacing: 3px;
	margin-top:1%;
	font-size: 30px;
	color: #5d5d5d;
}